body {
    background-color: #323639;
}

.resume-container {
    background-color: #323639;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.resume-iframe {
    border: 1px solid #323639;
    width: 100%;
    height: 100%;
}